@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
a:link {
  color: #FCFDFE;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.14em;
}

a:visited {
  color: #000000;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.14em;
}

a:hover {
  color: #EC5863;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.14em;
}

a:active {
  color: #0000FF;
}

body {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #616161;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.container {
  width: 92.2807017544%;
  margin: 0 auto;
}

.header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.14em;
  background: #FAFBFD url(../img/first-block_bg.png) right top no-repeat;
}

.header__wrapper {
  display: flex;
  width: 100%;
}

.header__container {
  position: static;
  display: flex;
  min-height: 114px;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  flex: 1 1 auto;
}

.logo {
  display: flex;
}
.logo img:first-child:hover {
  transform: rotate(900deg) scale(110%, 110%);
  transition-duration: 5s;
}
.logo img:last-child {
  align-self: center;
}

.header__navigation {
  font-weight: 700;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}

.menu__list {
  display: flex;
  gap: 36px;
}

.header__link {
  margin: 0 2px;
  padding: 0 2px;
  align-self: center;
}

.header__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-self: flex-end;
  flex: 0 0 252px;
  text-align: center;
  height: 40px;
  min-width: 22.1052631579%;
}
.header__button a:link {
  color: #fff;
}
.header__button a:visited {
  color: #fff;
}

.button {
  height: 100%;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 5.5% 0;
  color: #fff;
}

.button_blue {
  width: 51.5873015873%;
  background-color: #4285F4;
}

[class*=__container] {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

[class*=__left-block] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 0 1 420px;
}

.title {
  font-weight: 700;
  font-size: 44px;
  line-height: 126%;
  color: #000000;
  margin-bottom: 12px;
}

.blue-word {
  color: #4285F4;
}

[class*=__text] {
  margin-bottom: 24px;
}

[class*=__button]:not(.header__button) {
  display: flex;
  justify-content: center;
  flex: 0 0 40px;
  text-align: center;
  height: 40px;
  min-width: 30.9523809524%;
}
[class*=__button]:not(.header__button) a {
  display: inline-block;
  padding-top: 12%;
}
[class*=__button]:not(.header__button) a:link {
  color: #fff;
}
[class*=__button]:not(.header__button) a:visited {
  color: #fff;
}
[class*=__button]:not(.header__button) a:hover {
  color: #ffffff;
}
[class*=__button]:not(.header__button) a:active {
  color: #ffffff;
}

.button_red {
  background-color: #EC5863;
  width: 100%;
}

[class*=__img] {
  flex: 2 1 auto;
}

.first-block {
  padding-top: 39px;
  background: #FAFBFD url(../img/first-block_bg.png) right 100% no-repeat;
}

.video {
  padding-bottom: 27px;
}

.video__container {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}
.video__container a {
  margin-right: 2px;
}

.video__subscribe {
  align-self: center;
}
.video__subscribe p {
  font-size: 13px;
  line-height: 126%;
  letter-spacing: 0.08em;
  color: #B0B0B0;
}
.video__subscribe p:last-child {
  text-transform: uppercase;
  font-size: 9px;
  line-height: 126%;
  letter-spacing: 0.165em;
  color: #000000;
  margin-top: 5px;
}

.appDescript__container {
  display: flex;
  justify-content: center;
  padding: 156px 0 80px;
  background: url(../img/square_bg.png) 15% 25% no-repeat, url(../img/small-square_bg.png) 36% 70% no-repeat, url(../img/small-square_bg.png) 17% 88% no-repeat;
}

.appDescript__left-block {
  flex: 1 1 50%;
  justify-content: center;
}

.appDescript__img {
  display: block;
  margin-left: 32.1292775665%;
}

.appDescript__right-block {
  flex: 1 1 50%;
  align-self: center;
}

.text-block {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}
.text-block p {
  margin-bottom: 12px;
}

.two-columns-block__button {
  min-width: 80px;
  width: 27.3764258555%;
}

.red-word {
  color: #EC5863;
}

.statistic {
  padding: 104px 0 79px;
  background: url(../img/square_bg.png) 15% 25% no-repeat, url(../img/small-square_bg.png) 36% 70% no-repeat, url(../img/small-square_bg.png) 17% 88% no-repeat #FAFBFD;
}

.statistic__container {
  display: flex;
  width: 57.3684210526%;
  height: 117px;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
}

.statistic__number {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.14em;
  color: #EC5863;
  text-align: center;
}

.statistic__num-descript {
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.37em;
  text-transform: uppercase;
  color: #000000;
}

.experts {
  background-color: #FAFBFD;
}

.experts__left-block {
  padding-left: 22px;
}

.last-block {
  padding: 79.56px 0 40px;
}

.last-block__container {
  display: flex;
  flex-direction: column;
}
.last-block__container > p {
  width: 57.1292775665%;
  margin: 14px auto 46.17px;
  text-align: center;
}

.last-block__title {
  text-align: center;
  width: 57.1292775665%;
  margin: 0 auto;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.benefits__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  width: 278px;
  padding: 36.65px 25.45px;
}

.benefits__img {
  margin-bottom: 58px;
}

.benefits__name {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 238.5%;
  text-align: center;
  letter-spacing: 0.08em;
  color: #000000;
}

.benefits__description {
  width: 235px;
  text-align: center;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56.59px;
}