@charset "UTF-8";
.header {
  background: none;
  background: #F6F6F6;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.149476);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.149476);
}

.banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 84.3587842847%;
  margin: 0 auto;
  padding: 39px 0 54px 36px;
  background: url(../img/attestation/banner__img.png) 100% 29% no-repeat, url(../img/attestation/background_wave.jpg) 100% 0 no-repeat, url(../img/attestation/background_geometry.jpg) 60% 37% no-repeat #FAFAFB;
}

.banner__card {
  -webkit-box-flex: 3;
      -ms-flex: 3 0 188px;
          flex: 3 0 188px;
  max-width: 188px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}
.banner__card button {
  background: -webkit-gradient(linear, left top, right top, from(#87AFF1), to(#6C80CB));
  background: linear-gradient(90deg, #87AFF1 0%, #6C80CB 100%);
  -webkit-box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
          box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-top: 30px;
}

.banner__cost span {
  display: inline-block;
  margin-top: 7px;
}

.banner__price-offer {
  font-weight: 800;
  font-size: 36px;
  line-height: 39px;
  text-align: center;
  color: #87B0EE;
}

.banner__registration {
  margin: 25px 0 18px;
}

.banner__date {
  word-wrap: normal;
  line-height: 24px;
}

.banner__offer {
  text-align: left;
  margin-left: 78px;
  -webkit-box-flex: 8;
      -ms-flex: 8 1 488px;
          flex: 8 1 488px;
  max-width: 488px;
}

.banner__header {
  margin: 0;
  text-align: left;
  font-weight: 900;
  font-size: 40px;
  line-height: 51px;
  margin-bottom: 20px;
}

.banner__text {
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
}

hr {
  height: 2px;
  color: #87B0EE;
  text-align: center;
  display: inline-block;
}

.article__container {
  max-width: 84.3587842847%;
  margin: 32px auto 72px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.article__paragraph {
  margin: 0px 0px 25px;
}

.article__h3-header {
  margin: 45px 0px 29px;
}

.article__bold {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
}

.article__list {
  margin: 15px auto auto 60px;
}
.article__list li {
  position: relative;
  padding-left: 15px;
}
.article__list li:before {
  content: "•";
  position: absolute;
  left: -1%;
  font-size: 45px;
  color: #87B0EE;
  margin: auto 14px auto 0;
}

.form {
  background: #86ADEF;
}
.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
.form hr {
  border: 1px solid #678BC7;
}

.form__container {
  max-width: 84.3587842847%;
  margin: 0 auto;
  padding: 78px 0;
}

.form__header {
  color: #fff;
}

.form__main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin: 42px 0 34.5px 0;
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 13px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 359px;
          flex: 0 1 359px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.form__item input {
  width: 100%;
  justify-self: flex-end;
  height: 46px;
}

.form__name {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #516C9A;
}

.form__contacts {
  margin-top: 30.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 31px;
  min-width: 100%;
}
.form__contacts input {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #7B7B7B;
  height: 46px;
}
.form__contacts button {
  background: -webkit-gradient(linear, left top, right top, from(#F6BD60), to(#E88952));
  background: linear-gradient(90deg, #F6BD60 0%, #E88952 100%);
  -webkit-box-shadow: 0px 8px 18px rgba(167, 108, 67, 0.43892);
          box-shadow: 0px 8px 18px rgba(167, 108, 67, 0.43892);
  border-radius: 2px;
}

#address {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 52%;
          flex: 3 1 52%;
}

#tel {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

#email {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}