@import "nullstyle.scss";
@import "fonts.scss";
$container-size: calc(1138px / 1349px *100%);

@mixin linkStyle($color, $font-size){
    color: $color;
    font-size: $font-size;
    
}


h1{
    font-weight: 900;
    font-size: 40px;
    line-height: 51px;
}
h2{
    font-weight: 800;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    margin-top: 46px;
}
h3{
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
}


a:link {
    @include linkStyle(#333333, -size);
}
a:visited {
    @include linkStyle(#333333, -size);
}

a:hover {
    @include linkStyle(#333333, 18px);
    text-shadow: 1px 1px #101101;
}
a:active {
    @include linkStyle(#333333, 18px);
  }


body{
    font-family: 'Gilroy', sans-serif;
    max-width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    color: #333;
    
}
.body__container {
    // width: $container-size;
    background: #fff;
    margin: 0 auto;
    
}   
.header{
    width: 100%;
    background: url(../img/header_background.png) 100% 0 no-repeat #FAFAFB;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.149476);
    
}
.header__first-floor {
    position: sticky;
}
.first-floor {
}

.header__container{
    display: flex;
    flex: 0 0 $container-size;
    max-width: $container-size;
    flex-direction: column;
    margin: 0px auto;
    padding-top: 29px;
    justify-content: center;
    
}
.first-floor__container {
    display: flex;
    justify-content: space-between;
    flex: 1 1 100%;
    height: 45px;
    margin-bottom: 37px;
}
.logo {
    flex: 0 1 362px;
}
.first-floor__messengers {
}

.messengers {
    display: flex;
    flex: 0 1 43px;
    
}
.messengers__container {
    display: flex;
    flex: 0 1 165px;
    gap: 18px;
 
}
.messengers__whatsapp {
    
    flex: 1 1 43px;
    
}
.messengers__viber {
    border-radius: 50%;
    flex: 1 1 43px;
    

}
.messengers__telegram {
    border-radius: 50%;
    flex: 1 1 43px;

}


.first-floor__contacts{
    flex-wrap: nowrap;
}
.contacts__container {
    display: flex;
    flex: 3 0 230px;
    flex-direction: column;
    justify-content: space-between;
    
}
.contacts__phone {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 20px;
    color: #333333;
    line-height: 24px;
    
}
.contacts__email {
    align-self: flex-end;
    // flex: 0 0 161px;
    color: #333333;
    font-size: 17px;

}
.first-floor__get-call {
    display: flex;
    align-items: center;
    
}
.get-call__button{
    flex: 1 0 200px;
    height: 100%;
    background: linear-gradient(90deg, #F6BD60 0%, #E88952 100%);
    box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
    border-radius: 3px;
    // margin-left: -70px;
   
    
    
    
}
button{
    background: rgba($color: #000000, $alpha: 0.0);
    text-align: center;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    width: 195px;
    padding: 10px;
}

.header__second-floor {
}
.second-floor {
    margin-bottom: 24px;

}
.second-floor__container {
    display: flex;
    flex: 1 1 100%;
}
.second-floor__item-list{
    display: flex;
    flex: 1 1 100%;
    justify-content: space-between;
    
}

.second-floor__item {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.header__third-floor {
}
.third-floor {

}
.third-floor__container {
    display: flex;
    
}
.third-floor__text {
    flex: 1 1 675px;
    max-width: 675px;
    text-align: left;
    margin: 107px 0 0;

    p{
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        margin: 33px auto;
        span{
            font-size: 24px;
            line-height: 31px;
            font-weight: 800;
        }
    }
    button{
        background: linear-gradient(90deg, #87AFF1 0%, #6C80CB 100%, #6C80CB 100%);
        box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
        border-radius: 3px;
        flex: 1 0 211px;
        min-height: 50px;
        min-width: 211px;
        text-transform: uppercase;
        
    }
}
.third-floor__man {
    

}

.body {

}
.body__container {
}
.body_documents {
}
.documents {

}
.documents_container {
    display: flex;
    flex-direction: column;
    max-width: $container-size;
    margin: 0 auto;
}
.documents_header {
}
.documents_icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    gap: 30px;
    margin: 46px auto 70px;
}

$doc-item-width: 262px;
$doc-item-height: 190px;
.documents_item {
    display: block;
    flex: 1 1 262px/1138px * 100%;
    min-width: $doc-item-width / 2;
    min-height: $doc-item-height;
    text-align: center;
    // border: 1px green solid;
    background: #FFFFFF;
    box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.1);
    img{
        margin: 32px auto 17px;
    }
    p{
        display: block;
        max-width:  210px/$doc-item-width*100%;
        margin: 0 auto;
        font-weight: 600;
        font-size: 19px;
        line-height: 23px;
        text-align: center;
        
    }
}

.body__benefits {
}
.benefits {
    background-color: #F6F6F6;
    padding: 42px 0 45px;
}
.benefits__container {
    display: flex;
    flex: 0 1 $container-size;
    flex-wrap: wrap;
    max-width: $container-size;
    justify-content: space-between;
    margin: 0 auto;

}
.benefits__header{
    min-width: 100%;
    margin-bottom: 62px;
}

.benefits__item {
    display: flex;
    flex: 0 1 210px;
    flex-direction: column;
    align-items: center;
    // border: #000000 1px solid;
    &:nth-child(3){
        flex: 0 1 250px;
    }
}
.benefits__icon {
    flex: 0 0 98px;
     min-width: 98px;
     min-height: 98px;
    background-color: #FFFFFF;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.benefits__text {
    text-align: center;

    & p:first-child{
        font-weight: 800;
        font-size: 22px;
        line-height: 27px;
        margin: 15px auto 20px;
    }
}

.body__education {
}
.education {
    margin: 52px auto;
}
.education__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1163px;
    margin: 0 auto;
}
.education__title {
}
.education__item-container {
    display: flex;
    justify-content: flex-start;
    margin: 64px 0 58px;
    max-width: 1163px;
    overflow: hidden;
}
.education__item {
    flex: 0 1 219px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
    padding: 26px 25px 20px;
}

.invisible, .permission__invisible {
    display: none;
}
.education__picture {
    text-align: center;
   
}
.education__course-name {
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    margin: 17px 0 17px;
}
.education__status {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #53B43B;
    margin-bottom: 13px;
}
.open {

}
.education__price {
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
}
.education__switcher {
}
.switcher {
    display: flex;
    gap: 10px;
}

.education__switcher-element{
    cursor: pointer;
}



.body__news {
}
.news {
}

.news__container {
    max-width: $container-size;
    margin: 0 auto;
    text-align: center;

}
.news__header {
    margin-bottom: 40px;
}
.news__body {
    display: flex;
    max-width: $container-size;
    flex: 1 0 $container-size;
    
}
.news__big-block {
    flex: 2 0 555px;
    text-align: left;
    background: no-repeat, url(../img/news__workID.png) 95% 30% no-repeat, url(../img/news__blue_background.png) 100% 100% no-repeat #FAFAFB ;

    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
    padding: 27px 31px 87px 32px;
    p:first-child{
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        max-width: 272px;
        margin-bottom: 27px;
    span{
        color: #86ADEF;
    }
    }
    p{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        max-width: 241px;
    }
}
.news__small-blocks {
    display: flex;
    margin-left: 40px;
    gap: 30px;
    
}
.smallblock__body{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 0;
    max-height: 305px/348px*100%;
}
.smallblock {
    flex: 1 1 262px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
    padding: 22px 23px 15px 24px;
}
.smallblock__date {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #ABABAB;
    margin: 15px 0;
}
.smallblock__header {
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    margin-bottom: 14px;
}
.smallblock__text {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    max-height: 100px;
   
   
}
.news__button {
        margin-bottom: 79px;
        a{
            text-transform: uppercase;
            border: 2px solid #6D81CC;
            border-radius: 3px;
            text-align: center;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #6D81CC;
            padding: 14px 60px;
            margin: 45px auto 0;
            display:inline-block;
            cursor:pointer;
        }
        a:hover{
            color: #fff;
            background-color: #6D81CC;
            text-shadow: none;
        }
}

.footer {
    background: #333333;
    border: 1px solid #979797;  
}
.footer__container {
    display: flex;
    justify-content: space-between;
    max-width: $container-size;
    margin: 0 auto;

}

$footer__column-width: 359px / 1135px *100%;
$footer__last-column-width: 262px / 1135px *100%;
.footer__column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &:nth-child(n-1){
        flex: 2 1 $footer__column-width;
        max-width: 359px;
    }
    &:last-child{
        flex: 1 1 $footer__last-column-width;
        justify-content: flex-start;
        .footer__text-container {
            flex: 0 1 220px;
            margin-bottom: 9%;
        }
    }


}
.footer__header {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 64px 0 27px;
    flex: 0 1 auto;
    max-height: 5%;

    a:link{
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #FFFFFF;
        margin: 64px 0 27px;
        flex: 0 1 auto;
        max-height: 5%;

    }
    a:visited{
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #FFFFFF;
        margin: 64px 0 27px;
        flex: 0 1 auto;
        max-height: 5%;

    }

    a:hover{
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #E88952;
        margin: 64px 0 27px;
        flex: 0 1 auto;
        max-height: 5%;

    }
    a:active{
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #e8de52;
        margin: 64px 0 27px;
        flex: 0 1 auto;
        max-height: 5%;

    }

}
.footer__text-container {
    justify-self: flex-start;
    .footer-link {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #FFFFFF;
        margin-bottom: 20px;
        word-wrap: break-word;
    }
}
.footer__text-container_social{
    justify-self: flex-start;
    flex: 3 0 auto;
    margin-bottom: 45px;
    
}
.footer__text-container_contacts{
    max-height: max-content;
}
.social-link__telegram{
    &::before{
        content: url(../img/icons/footer_telegram.png);
        margin-right: 13px;
    }
}
.social-link__viber{
    &::before{
        content: url(../img/icons/footer_viber.png);
        margin-right: 13px;
    }
}
.social-link__whatsapp{
    &::before{
        content: url(../img/icons/footer_whatsapp.png);
        margin-right: 13px;
    }
}

.social-link__phone {
    &::before{
        content: url(../img/icons/footer_call-answer.png);
        margin-right: 13px;
    }
}
.social-link__mail {
    &::before{
        content: url(../img/icons/footer_mail.png);
        margin-right: 13px;
    }
}
.footer__button {
    background: linear-gradient(90deg, #F6BD60 0%, #E88952 100%);
    box-shadow: 0px 8px 15px rgba(242, 147, 81, 0.449492);
    border-radius: 3px;
    flex: 0 1 50px;
    max-height: 50px;
}

@import url(callBack.scss);
.main{
    background: url(../img/contacts_map.png) no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 80%;
   
}

.main__container{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    flex: 0 1 $container-size;
    max-width: $container-size;
    margin: 0 auto 70px;
    gap: 12px;
    
}
.main__info{
    flex: 1 1 calc(547px/1138px*100%);
    h2{
        text-align: left;
        margin: 0px auto 22px;
    }
    
    p{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;
        color: #333333;
        margin-bottom: 50px;
    }
    .contacts__phone::before{
        content: url(../img/icons/header_call-answer.png);
        margin-right: 12px;
        
    }
    .contacts__email::before{
        content: url(../img/icons/header_mail.png);
        margin-right: 13px;
        
    }
    .contacts__phone{
    margin-bottom: 16px;
    }
    .contacts__email{
        margin-bottom: 52px;
    }

}
.main__callbackForm{
    flex: 1 1 482px;
    max-width: calc(482px/1138px*100%);



}
.bread-crumbs{
    margin: 31px auto 59px;
    max-width: $container-size;
}
.contacts__qr {
    margin-top: 51px;
}
.qr {
    display: flex;
    gap: 26px;
    flex-grow: 0;
}
.qr__descriptor {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    align-self: center;
    word-wrap:normal;
    flex-grow: 0;
}
.qr__title {
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    margin-bottom: 19px;
}

@import "switcher.scss";
@import "callback.scss"